---

const {title, href } = Astro.props;

---
<a href={href}>
    <div class="w-full sm: h-14 rounded-xl font-IBM overflow-hidden">
        <div class="font-bold flex items-center justify-center w-full h-full bg-slate-800 bg-opacity-75 hover:bg-opacity-10 transition-all">
            {title}
        </div>
    </div>
</a>